{% include 'header.html' %}
{% include 'menu.html' %}
<div id='navigationbox' title='PI-Q-Robot'>PI-Q-Robot - Raspberry PI controlled quadruped Spiderbot</div>
<div class='container-fluid' id='contentbox'>
  <div class='row'>
    <div class="col-md-2">
      {% for action in actions %}
      <form action="/action" method="post">
        <button name="action" type="submit" value="{{ action }}">{{ action }}</button>
      </form>
      {% endfor %}
      <pre>{{ message }}</pre>
    </div>
    <div id='spider' class="h-100 col-md-10">
      {% include 'js.html' %}
      <script>
        // configure robot-simulation
        var renderId='spider';
        var robotUrl='/models/spiderq.json';
      </script>
      <script src='/js/robot-sim.js'></script>
    </div>
  </div>
  {% include 'footer.html' %}
