<!--  common menu -->
<div id='headerbox'>
  <!-- see https://cdn.materialdesignicons.com/1.1.34/ for possible icons-->
  <!-- home --><a
    href='/'
    title='Home'>
    <i class='mdi mdi-home headerboxicon'></i>
  </a>
  <!-- github --><a
    href='https://github.com/BITPlan/PI-Q-Robot'
    title='PI-Q-Robot on GitHub'>
    <i class='mdi mdi-github-box headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='http://wiki.bitplan.com/index.php/Raspberry_PI_Spiderbot'
    title='PI-Q-Robot Wiki Page'>
    <i class='mdi mdi-file-document headerboxicon'></i>
  </a>
  <!-- robot simulator -->
  <a
    href='/example/robot?robot=/models/spiderq.json'
    title='PI-Q-Robot Simulation'
    <i class='mdi mdi-hexagon headerboxicon'></i>
  </a>
  <!-- example cubes -->
  <a
    href='/example/cubes'
    title='THREE.js cubes drag&drop example'>
    <i class='mdi mdi-cube-outline headerboxicon'></i>
  </a>
  <!-- example shadow -->
  <a
    href='/example/shadow'
    title='THREE.js shadow example'>
    <i class='mdi mdi-cube headerboxicon'></i>
  </a>
</div>
