<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>
    <style>
      html, body { margin: 0; padding: 0; overflow: hidden; }
    </style>
  </head>
  <body>
    <script type="module">
      // we do not use the module approach here but the "standard" libraries below
      // see e.g. cubes.js example where the constructor calls have to be qualified then e.g.
      // new THREE.TrackBallControls(...)
    	// import * as THREE from '/build/three.module.js';
      // import Stats from '/jsm/libs/stats.module.js';
      // import { STLLoader } from '/jsm/loaders/STLLoader.js';
      // import { TrackballControls } from '/jsm/controls/TrackballControls.js';
      // import { DragControls } from '/jsm/controls/DragControls.js';
    </script>
    {% include 'js.html' %}
    <script src='{{ js }}'></script>
  </body>
</html>
